@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&family=Roboto+Condensed:wght@400;700&display=swap');

* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

/* Fonts */

.font-light {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.main-background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;

  background: linear-gradient(-45deg, #000B16, #002649, #002D57, #000F1D);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.main-screen-wrapper {
  width: 1200px;
  height: 600px;
  margin: 80px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-panel {
  width: 300px;
  height: 600px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background: rgba(10,10,10,0.1);
  border: 1px solid #002D57
}

.left-panel {
  padding: 10px;
}

.right-panel {
}

.main-panel-wrapper {
  width: 100%;
  height: 100%;
}

.main-panel {
  width: 600px;
  height: 600px;
  color: white;
  border-radius: 10px;
  margin: 10px;
}

/* Left pannel - ship*/

.cargo-bay {
  width: 235px;
  height: 200px;
  background: #748CAB;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 10px;
  padding: 5px;
  margin: 10px auto;
  background: #004483;
  color: black;

}

.cargo-crate-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.cargo-crate {
  width: 20px;
  height: 20px;
  background: blanchedalmond;
  margin: 4px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 2px 2px 0px 0px black;
  color: white;
}

.buy {
  cursor: grab;
}

.sell {
  cursor: e-resize;
}

.cargo-crate:hover {
  border: 1px solid white;
}

.hold-capacity {
  position: absolute;
  top: 350px;
}

.titanium {
  background: #118AB2;
}

.uranium {
  background: #06D6A0;
}

.plutonium {
  background: #EF476F;
}

.aluminium {
  background: #073B4C;
}

.food {
  background: #679436;
}

.water {
  background: #168aad;
}

.gold {
  background: #FFC300;
}

.fuel {
  background: #ff6700;
  width: 20px;
  height: 20px;
  margin: 4px;
  text-align: center;
  box-shadow: 2px 2px 0px 0px black;
  cursor: copy;
}

.panel-title {
  font-weight: 200;
}

.ship-stats {
  margin: 10px;
}

.alert-message {
  color: orange;
}

/* Right panel - planet */

.market-place {
  margin: 20px 0 0 0;
}

/* Main panel */

.planet-position {
  position: relative;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.planet-circle {
  content: "";
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  position: relative;
  top: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0,100,180,.5);
  z-index: 2;
  cursor: pointer;
}

.planet-selected {
  border: 4px solid magenta;
  background: white;
}

.line-wraper {
  position: relative;
  top: -68px;
  left: -10px;
  z-index: 1;
}

.fly-to {
  position: absolute;
  top: 60px;
  left: 15px;
  display: block;
  border: 4px solid red;
  border-radius: 50%;
  background: red;
  cursor: pointer;
  z-index: 10;
  width: 30px;
  height: 30px;
}

.fly-go {
position: relative;
top: 0px;
left: 3px;
}

.fly-to:hover {
  border: 4px solid #ff6700;
  background: #ff6700;
}

.left-panel-ship-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-panel-ship {
  width: 150px;
  height: auto;
}

.ship {
  position: absolute;
  top: -25px;
  left: 25px;
  width: 50px;
  height: auto;
  z-index: 8;

}

.traveling {
  animation: travel 6s ease-in-out 1;
}

@keyframes travel {
  0% {opacity: 1;}
  30% {opacity: 0;}
  100% {opacity: 0;}
}

.ariving {
  animation: arive 5s ease-in-out 1;
}

@keyframes arive {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 1;}
}

.fuel-image {
  width: 20px;
  height: auto;
}

.adventure-wrapper {
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 500px;
  min-height: 200px;
  background: #002649;
  z-index: 20;
  transform: translate(-50%, -50%);
  box-shadow: 4px 4px 10px 0px black;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  border-radius: 10px;
}

.adventureEvent {
  visibility: visible;
}

.main-panel-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 600px;
}

.grid-sector {
  width: 60px;
  height: 60px;
  background: transparent;
  margin: 0;
  border: 0.5px dashed rgba(100,100,230,0.3);
}

.planet-name {
  font-size: 0.8em;
  position: absolute;
  width: 100px;
  top: 35px;
  left: 5%;
}