* {
  margin: 0 auto;
  box-sizing: border-box;
}

.main-screen-wrapper {
  width: 1200px;
  height: 600px;
  background: gray;
  margin: 80px auto;
  display: flex;
  justify-content: center;
  align-items: center;

  
}

.side-panel {
  width: 300px;
  height: 600px;
  background: lightgray;
  padding: 10px
}

.left-panel {

}

.right-panel {

}

.main-panel {
  width: 600px;
  height: 600px;
  background: whitesmoke;
  padding: 10px;
}

/* Left pannel */

.cargo-bay {
  width: 280px;
  height: 400px;
  background: greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.cargo-crate {
  width: 50px;
  height: 50px;
  background: blanchedalmond;
  margin: 4px;
}